*{
    margin: 0;
    padding: 0;
}
header{
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}
body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
.imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 90%;
}