<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adham Bassiouni</title>
    <link rel="stylesheet" href="static/Adham.css">
</head>
<body>
    <div class="all">
        <nav>
            <label class="address">Adham Bassiouni</label>
            <ul>
            <li><a class="n1" href="">Home</a></li>
            <li><a class="n2" href="#skills-part">Skills</a></li>
            <li><a class="n3" href="#projects-part">Projects</a></li>
            <li><a class="n4" href="#social-media">contact me</a></li>
            </ul>
        </nav>
        <div class="body">
            <p class="text-body">welcome in my site my name is Adham,I'm web devloper</p>
            <a href="#skills-part" class="button-view">view</a>
        </div>
        <div class="line"></div>
        <div class="skills-part"id="skills-part">
            <p class="text-skill">My Skills</p>
            <p class="front">front-end</p>
            <div class="one">
                <div class="html">
                    <img  class="h-one" src="static/img/html-5.png">
                </div>
                <div class="css">
                    <img class="h-two" src="static/img/css-3.png">
                </div>
                <div class="js">
                    <img class="h-three" src="static/img/js.png">
                </div>
                <div class="boot">
                    <img class="h-four" src="static/img/sass.png">
                </div>
                <div class="sass">
                    <img class="h-five" src="static/img/bootstrap.png">
                </div>
            </div>
      
       
        <div class="white-space"></div>
        <div class="line"></div>

        <p class="back">back-end</p>
        <div class="one">
            <div class="html">
                <img class="h-one" src="static/img/python.png">
            </div>
            <div class="css">
                <img class="h-two" src="static/img/sql-server.png">
            </div>
            
         </div>
        </div>
        <div class="projects-part" id="projects-part">
            <div class="line"></div>
            <p class="project">my projects</p>
            <div class="grow-one"><a href="site1" class="img-1"><p class="dis">MegaGym Site</p></a><a href="site2" class="img-2"><p class="dis">Online Medical Site</p></a><a href="site3" class="img-3"><p class="dis">Pet Store Site</p></a></div>
            <div class="grow-one"><a href="site4" class="img-4"><p class="dis">Protfolio Site</p></a><a href="" class="img-5"></a><a href="" class="img-6"></a></div>
        </div>
        <div class="social-media" id="social-media">
            <div class="line"></div>
            <p class="social">Social Media</p>

            <div class="icons"><a href="https://www.facebook.com/profile.php?id=100026337194390" class="icon-1"></a><a href="https://www.instagram.com/adham_bassiouni/" class="icon-2"></a><a href="https://www.linkedin.com/in/adham-bassiouni-4274b4277/" class="icon-3"></a><a href="https://api.whatsapp.com/send?phone=+201012801826" class="icon-4"></a></div>

        </div>
        <div class="end"><p>The End</p></div>

    </div>
</body>
</html>